.body{
    background-color: #EAFEF8;
}
h1{
    
    margin-left: 410px;
}
.tbl{
    margin-left: 20px;
    width: 1320px;
}
.panel{
    background-color: #EAFEF8;
    width: 1000px;
    height: 100px;
    margin-left: 155px; 
    margin-top: 20px;
}
.control{
    width: 200px;
    height: 35px;
    margin-top: 20px;
    margin-left:20px;
    float: left;
    
      
}
.btn-info{
    margin-top: 19px;
    margin-left: 20px;
}
.lin{
    background-color: blue;
    width: 205px;
    height: 1px;
    position: absolute;
    margin-top: 58px;
    margin-left: 16px;
}